.form{
    padding-bottom: 2em;
}
.text-input{
    padding: 1em;
    border: 1px solid  #E5E5E5;
    outline: none;
    border-radius: 5px;
    color: black;
    width: 100%;
}
.padded{
    margin-right: 1.5em;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}

.submit{
    width: 100%;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    padding: 1em;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1em;
}